In [1]:
import numpy as np
import pandas as pd

### read data with regards to data layout & drop first row and data considering extrapolated values

In [2]:
df_worldpop = pd.read_excel('Resources\WorldPopulation.xlsx', sheet_name='Population', header = 1, usecols='E:CJ')

### drop first(empty) row

In [3]:
df_worldpop = df_worldpop.drop(0)

In [4]:
df_worldpop

,Region,Country,Area,pop1950,pop1951,pop1952,pop1953,pop1954,pop1955,pop1956,...,pop2021,pop2022,pop2023,pop2024,pop2025,pop2026,pop2027,pop2028,pop2029,pop2030
1,Asia,Afghanistan,652230.0,8150368.0,8284473.0,8425333.0,8573217.0,8728408.0,8891209.0,9061938.0,...,37524713.0,38415100.0,39311066.0,40211878.0,41117073.0,42025073.0,42935003.0,43845862.0,44756202.0,45664663.0
2,Europe,Albania,27398.0,1227156.0,1254119.0,1282697.0,1314608.0,1352982.0,1392164.0,1434476.0,...,3082448.0,3089575.0,3095780.0,3100953.0,3104932.0,3107514.0,3108592.0,3108141.0,3106186.0,3102689.0
3,Africa,Algeria,2381741.0,8892718.0,9073304.0,9279525.0,9531710.0,9611093.0,9841851.0,10057133.0,...,43596498.0,44195289.0,44768774.0,45317189.0,45841317.0,46342439.0,46821890.0,47281234.0,47722597.0,48148456.0
4,Oceania,American Samoa,199.0,19100.0,19500.0,19300.0,19200.0,19500.0,19800.0,20100.0,...,53706.0,53629.0,53541.0,53437.0,53316.0,53181.0,53030.0,52862.0,52678.0,52478.0
5,Europe,Andorra,468.0,6176.0,6310.0,5866.0,5591.0,5503.0,6189.0,6221.0,...,85565.0,85476.0,85370.0,85249.0,85112.0,84962.0,84799.0,84623.0,84437.0,84239.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
224,Asia,West Bank,5640.0,771165.0,774512.0,777872.0,781247.0,784637.0,788042.0,791462.0,...,3112607.0,3166945.0,3221097.0,3274913.0,3328248.0,3381137.0,3433619.0,3485574.0,3536907.0,3587534.0
225,Africa,Western Sahara,266000.0,9057.0,10133.0,11336.0,12682.0,14187.0,15872.0,17756.0,...,668726.0,685311.0,702012.0,718812.0,735697.0,752674.0,769751.0,786913.0,804144.0,821426.0
226,Asia,Yemen,527968.0,4777089.0,4869125.0,4963829.0,5061153.0,5162494.0,5265327.0,5380106.0,...,30319836.0,30909952.0,31496075.0,32076640.0,32650107.0,33219487.0,33787838.0,34353758.0,34915924.0,35472921.0
227,Africa,Zambia,743398.0,2553000.0,2611000.0,2672000.0,2734000.0,2800000.0,2869000.0,2941000.0,...,17935659.0,18457738.0,18993117.0,19542094.0,20104997.0,20682115.0,21273629.0,21879699.0,22500485.0,23136140.0
228,Africa,Zimbabwe,386847.0,2853151.0,2950941.0,3080907.0,3190967.0,3307273.0,3409017.0,3529739.0,...,16148261.0,16460670.0,16768643.0,17071850.0,17370260.0,17664584.0,17955810.0,18244803.0,18532424.0,18819523.0

replace pop with empty string to simplify table head

In [5]:
df_worldpop.columns = df_worldpop.columns.str.replace('pop', '')

### generate df of bools representing empty or non empty cells in the original df

In [6]:
mask = df_worldpop.isnull()

### show empty check df

In [7]:
mask

,Region,Country,Area,1950,1951,1952,1953,1954,1955,1956,...,2021,2022,2023,2024,2025,2026,2027,2028,2029,2030
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
224,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
225,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
226,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
227,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
228,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

### check if there are any values in each row //looking for bools ("1" or "true")

In [8]:
emptymask = mask.any(axis = 1)

In [9]:
emptymask

1      False
2      False
3      False
4      False
5      False
       ...
224    False
225    False
226    False
227    False
228    False
Length: 228, dtype: bool

###  use compressed mask to finally check for any empty values in a easy readable form

In [10]:
df_worldpop[emptymask]

Empty DataFrame
Columns: [Region, Country, Area  , 1950, 1951, 1952, 1953, 1954, 1955, 1956, 1957, 1958, 1959, 1960, 1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024, 2025, 2026, 2027, 2028, 2029, 2030]
Index: []

[0 rows x 84 columns]

TODO: 
    suche nach NullWerte
    bestimme min, max, median 
    suche nach doppelte Einträge
    DT abändern (Region kategoricalstring) nach dem merge
    zweiten DS einlesen

### Check if Countrys are unique

In [11]:
pd.Series(df_worldpop["Country"]).is_unique

True

### use describe as a placeholder little to no use at this point

In [12]:
print(df_worldpop.describe())

             Area            1950          1951          1952          1953  \
count  2.280000e+02  2.280000e+02  2.280000e+02  2.280000e+02  2.280000e+02
mean   5.792173e+05  1.121767e+07  1.138123e+07  1.156462e+07  1.176313e+07
std    1.720351e+06  4.701986e+07  4.754429e+07  4.823644e+07  4.905736e+07
min    2.000000e+00  2.028000e+03  2.040000e+03  2.053000e+03  2.066000e+03
25%    4.854250e+03  1.127918e+05  1.151795e+05  1.176912e+05  1.203490e+05
50%    8.253700e+04  1.705811e+06  1.736012e+06  1.762424e+06  1.794953e+06
75%    4.283918e+05  6.261032e+06  6.381841e+06  6.518334e+06  6.706298e+06
max    1.637774e+07  5.625798e+08  5.671008e+08  5.745363e+08  5.841914e+08

               1954          1955          1956          1957          1958  \
count  2.280000e+02  2.280000e+02  2.280000e+02  2.280000e+02  2.280000e+02
mean   1.197434e+07  1.220176e+07  1.243501e+07  1.268075e+07  1.292973e+07
std    4.993869e+07  5.090936e+07  5.190744e+07  5.300301e+07  5.407835e+07
min    2.079000e+03  2.092000e+03  2.105000e+03  2.118000e+03  2.132000e+03
25%    1.232002e+05  1.263135e+05  1.297668e+05  1.336255e+05  1.380422e+05
50%    1.833393e+06  1.873836e+06  1.912198e+06  1.960418e+06  2.025899e+06
75%    6.862322e+06  6.968664e+06  7.024331e+06  7.127270e+06  7.267123e+06
max    5.947248e+08  6.067297e+08  6.191359e+08  6.332146e+08  6.467031e+08

       ...          2021          2022          2023          2024  \
count  ...  2.280000e+02  2.280000e+02  2.280000e+02  2.280000e+02
mean   ...  3.377853e+07  3.409556e+07  3.440831e+07  3.471642e+07
std    ...  1.332295e+08  1.341000e+08  1.349417e+08  1.357533e+08
min    ...  5.284000e+03  5.220000e+03  5.157000e+03  5.093000e+03
25%    ...  6.090330e+05  6.149932e+05  6.198970e+05  6.238718e+05
50%    ...  5.837019e+06  5.900861e+06  5.997996e+06  6.094441e+06
75%    ...  2.305060e+07  2.338178e+07  2.372880e+07  2.409216e+07
max    ...  1.387641e+09  1.390212e+09  1.392244e+09  1.393719e+09

               2025          2026          2027          2028          2029  \
count  2.280000e+02  2.280000e+02  2.280000e+02  2.280000e+02  2.280000e+02
mean   3.501961e+07  3.531823e+07  3.561252e+07  3.590221e+07  3.618719e+07
std    1.365340e+08  1.372852e+08  1.380084e+08  1.387040e+08  1.393727e+08
min    5.030000e+03  4.966000e+03  4.903000e+03  4.840000e+03  4.776000e+03
25%    6.276175e+05  6.311352e+05  6.330275e+05  6.356018e+05  6.364588e+05
50%    6.190106e+06  6.229166e+06  6.219232e+06  6.195466e+06  6.168318e+06
75%    2.472754e+07  2.528618e+07  2.562652e+07  2.588585e+07  2.605293e+07
max    1.396046e+09  1.409417e+09  1.422588e+09  1.435543e+09  1.448266e+09

               2030
count  2.280000e+02
mean   3.646735e+07
std    1.400152e+08
min    4.713000e+03
25%    6.371095e+05
50%    6.183295e+06
75%    2.621396e+07
max    1.460743e+09

[8 rows x 82 columns]

#### loop through col and count rows with value "0" // ie check DF for zeroes

In [13]:
num = 0
for i in df_worldpop.columns:
   num += df_worldpop[i][df_worldpop[i]==0].count()
num

0

## try to read csv / no clue what the problem is / leave it for later

In [14]:
df_deathstats = pd.read_csv('resources\annual-number-of-deaths-by-cause.csv')

OSError: [Errno 22] Invalid argument: 'resources\x07nnual-number-of-deaths-by-cause.csv'

### load deathdata under new file name as workaround

In [15]:
df_deathstats = pd.read_csv('resources\deathdata.csv')

In [16]:
df_deathstats

,Entity,Code,Year,Number of executions (Amnesty International),Deaths - Meningitis - Sex: Both - Age: All Ages (Number),Deaths - Alzheimer's disease and other dementias - Sex: Both - Age: All Ages (Number),Deaths - Parkinson's disease - Sex: Both - Age: All Ages (Number),Deaths - Nutritional deficiencies - Sex: Both - Age: All Ages (Number),Deaths - Malaria - Sex: Both - Age: All Ages (Number),Deaths - Drowning - Sex: Both - Age: All Ages (Number),...,Deaths - Chronic kidney disease - Sex: Both - Age: All Ages (Number),Deaths - Poisonings - Sex: Both - Age: All Ages (Number),Deaths - Protein-energy malnutrition - Sex: Both - Age: All Ages (Number),Terrorism (deaths),Deaths - Road injuries - Sex: Both - Age: All Ages (Number),Deaths - Chronic respiratory diseases - Sex: Both - Age: All Ages (Number),Deaths - Cirrhosis and other chronic liver diseases - Sex: Both - Age: All Ages (Number),Deaths - Digestive diseases - Sex: Both - Age: All Ages (Number),"Deaths - Fire, heat, and hot substances - Sex: Both - Age: All Ages (Number)",Deaths - Acute hepatitis - Sex: Both - Age: All Ages (Number)
0,Afghanistan,AFG,2007,15,2933.0,1402.0,450.0,2488.0,393.0,2127.0,...,4490.0,513.0,2439.0,1199.0,7425.0,7222.0,3346.0,6458.0,481.0,3437.0
1,Afghanistan,AFG,2008,17,2731.0,1424.0,455.0,2277.0,255.0,1973.0,...,4534.0,495.0,2231.0,1092.0,7355.0,7143.0,3316.0,6408.0,462.0,3005.0
2,Afghanistan,AFG,2009,0,2460.0,1449.0,460.0,2040.0,239.0,1852.0,...,4597.0,483.0,1998.0,1065.0,7290.0,7045.0,3291.0,6358.0,448.0,2663.0
3,Afghanistan,AFG,2011,2,2327.0,1508.0,473.0,1846.0,390.0,1775.0,...,4785.0,483.0,1805.0,1525.0,7432.0,6916.0,3318.0,6370.0,448.0,2365.0
4,Afghanistan,AFG,2012,14,2254.0,1544.0,482.0,1705.0,94.0,1716.0,...,4846.0,482.0,1667.0,3521.0,7494.0,6878.0,3353.0,6398.0,445.0,2264.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7268,Zimbabwe,ZWE,2015,NaN,1439.0,754.0,215.0,3019.0,2518.0,770.0,...,2108.0,381.0,2990.0,NaN,2373.0,2751.0,1956.0,4202.0,632.0,146.0
7269,Zimbabwe,ZWE,2016,NaN,1457.0,767.0,219.0,3056.0,2050.0,801.0,...,2160.0,393.0,3027.0,NaN,2436.0,2788.0,1962.0,4264.0,648.0,146.0
7270,Zimbabwe,ZWE,2017,NaN,1460.0,781.0,223.0,2990.0,2116.0,818.0,...,2196.0,398.0,2962.0,0.0,2473.0,2818.0,2007.0,4342.0,654.0,144.0
7271,Zimbabwe,ZWE,2018,NaN,1450.0,795.0,227.0,2918.0,2088.0,825.0,...,2240.0,400.0,2890.0,NaN,2509.0,2849.0,2030.0,4377.0,657.0,139.0
7272,Zimbabwe,ZWE,2019,NaN,1450.0,812.0,232.0,2884.0,2068.0,827.0,...,2292.0,405.0,2855.0,NaN,2554.0,2891.0,2065.0,4437.0,662.0,136.0

### for some countrys we are missing data / lets replace them with "noData" for now

In [17]:
df_deathstats.fillna('noData', inplace = True)

In [18]:
df_deathstats

,Entity,Code,Year,Number of executions (Amnesty International),Deaths - Meningitis - Sex: Both - Age: All Ages (Number),Deaths - Alzheimer's disease and other dementias - Sex: Both - Age: All Ages (Number),Deaths - Parkinson's disease - Sex: Both - Age: All Ages (Number),Deaths - Nutritional deficiencies - Sex: Both - Age: All Ages (Number),Deaths - Malaria - Sex: Both - Age: All Ages (Number),Deaths - Drowning - Sex: Both - Age: All Ages (Number),...,Deaths - Chronic kidney disease - Sex: Both - Age: All Ages (Number),Deaths - Poisonings - Sex: Both - Age: All Ages (Number),Deaths - Protein-energy malnutrition - Sex: Both - Age: All Ages (Number),Terrorism (deaths),Deaths - Road injuries - Sex: Both - Age: All Ages (Number),Deaths - Chronic respiratory diseases - Sex: Both - Age: All Ages (Number),Deaths - Cirrhosis and other chronic liver diseases - Sex: Both - Age: All Ages (Number),Deaths - Digestive diseases - Sex: Both - Age: All Ages (Number),"Deaths - Fire, heat, and hot substances - Sex: Both - Age: All Ages (Number)",Deaths - Acute hepatitis - Sex: Both - Age: All Ages (Number)
0,Afghanistan,AFG,2007,15,2933.0,1402.0,450.0,2488.0,393.0,2127.0,...,4490.0,513.0,2439.0,1199.0,7425.0,7222.0,3346.0,6458.0,481.0,3437.0
1,Afghanistan,AFG,2008,17,2731.0,1424.0,455.0,2277.0,255.0,1973.0,...,4534.0,495.0,2231.0,1092.0,7355.0,7143.0,3316.0,6408.0,462.0,3005.0
2,Afghanistan,AFG,2009,0,2460.0,1449.0,460.0,2040.0,239.0,1852.0,...,4597.0,483.0,1998.0,1065.0,7290.0,7045.0,3291.0,6358.0,448.0,2663.0
3,Afghanistan,AFG,2011,2,2327.0,1508.0,473.0,1846.0,390.0,1775.0,...,4785.0,483.0,1805.0,1525.0,7432.0,6916.0,3318.0,6370.0,448.0,2365.0
4,Afghanistan,AFG,2012,14,2254.0,1544.0,482.0,1705.0,94.0,1716.0,...,4846.0,482.0,1667.0,3521.0,7494.0,6878.0,3353.0,6398.0,445.0,2264.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7268,Zimbabwe,ZWE,2015,noData,1439.0,754.0,215.0,3019.0,2518.0,770.0,...,2108.0,381.0,2990.0,noData,2373.0,2751.0,1956.0,4202.0,632.0,146.0
7269,Zimbabwe,ZWE,2016,noData,1457.0,767.0,219.0,3056.0,2050.0,801.0,...,2160.0,393.0,3027.0,noData,2436.0,2788.0,1962.0,4264.0,648.0,146.0
7270,Zimbabwe,ZWE,2017,noData,1460.0,781.0,223.0,2990.0,2116.0,818.0,...,2196.0,398.0,2962.0,0.0,2473.0,2818.0,2007.0,4342.0,654.0,144.0
7271,Zimbabwe,ZWE,2018,noData,1450.0,795.0,227.0,2918.0,2088.0,825.0,...,2240.0,400.0,2890.0,noData,2509.0,2849.0,2030.0,4377.0,657.0,139.0
7272,Zimbabwe,ZWE,2019,noData,1450.0,812.0,232.0,2884.0,2068.0,827.0,...,2292.0,405.0,2855.0,noData,2554.0,2891.0,2065.0,4437.0,662.0,136.0

In [19]:
print(df_deathstats.describe())

              Year
count  7273.000000
mean   2004.425134
std       8.623572
min    1990.000000
25%    1997.000000
50%    2004.000000
75%    2012.000000
max    2019.000000

In [ ]:
df_deathstats.std

In [ ]:
df_deathstats.mean

In [20]:
df_deathstats.dtypes

Entity                                                                                      object
Code                                                                                        object
Year                                                                                         int64
Number of executions (Amnesty International)                                                object
Deaths - Meningitis - Sex: Both - Age: All Ages (Number)                                    object
Deaths - Alzheimer's disease and other dementias - Sex: Both - Age: All Ages (Number)       object
Deaths - Parkinson's disease - Sex: Both - Age: All Ages (Number)                           object
Deaths - Nutritional deficiencies - Sex: Both - Age: All Ages (Number)                      object
Deaths - Malaria - Sex: Both - Age: All Ages (Number)                                       object
Deaths - Drowning - Sex: Both - Age: All Ages (Number)                                      object
Deaths - Interpersonal violence - Sex: Both - Age: All Ages (Number)                        object
Deaths - Maternal disorders - Sex: Both - Age: All Ages (Number)                            object
Deaths - HIV/AIDS - Sex: Both - Age: All Ages (Number)                                      object
Deaths - Drug use disorders - Sex: Both - Age: All Ages (Number)                            object
Deaths - Tuberculosis - Sex: Both - Age: All Ages (Number)                                  object
Deaths - Cardiovascular diseases - Sex: Both - Age: All Ages (Number)                       object
Deaths - Lower respiratory infections - Sex: Both - Age: All Ages (Number)                  object
Deaths - Neonatal disorders - Sex: Both - Age: All Ages (Number)                            object
Deaths - Alcohol use disorders - Sex: Both - Age: All Ages (Number)                         object
Deaths - Self-harm - Sex: Both - Age: All Ages (Number)                                     object
Deaths - Exposure to forces of nature - Sex: Both - Age: All Ages (Number)                  object
Deaths - Diarrheal diseases - Sex: Both - Age: All Ages (Number)                            object
Deaths - Environmental heat and cold exposure - Sex: Both - Age: All Ages (Number)          object
Deaths - Neoplasms - Sex: Both - Age: All Ages (Number)                                     object
Deaths - Conflict and terrorism - Sex: Both - Age: All Ages (Number)                        object
Deaths - Diabetes mellitus - Sex: Both - Age: All Ages (Number)                             object
Deaths - Chronic kidney disease - Sex: Both - Age: All Ages (Number)                        object
Deaths - Poisonings - Sex: Both - Age: All Ages (Number)                                    object
Deaths - Protein-energy malnutrition - Sex: Both - Age: All Ages (Number)                   object
Terrorism (deaths)                                                                          object
Deaths - Road injuries - Sex: Both - Age: All Ages (Number)                                 object
Deaths - Chronic respiratory diseases - Sex: Both - Age: All Ages (Number)                  object
Deaths - Cirrhosis and other chronic liver diseases - Sex: Both - Age: All Ages (Number)    object
Deaths - Digestive diseases - Sex: Both - Age: All Ages (Number)                            object
Deaths - Fire, heat, and hot substances - Sex: Both - Age: All Ages (Number)                object
Deaths - Acute hepatitis - Sex: Both - Age: All Ages (Number)                               object
dtype: object